.header {
  position: fixed;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-black);
  padding: var(--xs);
  gap: var(--xs);
  z-index: 2;

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease-out;

    &:hover {
      color: var(--dark-green);
    }
  }

  &__menu-icon {
    width: 45px;
    height: auto;
  }

  &__title {
    color: var(--white);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-inline-end: auto;
  }

  &__logo {
    width: 50px;
    height: auto;
  }
}


.nav {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  inline-size: 60dvi;
  block-size: 100dvb;
  background-color: var(--off-black);
  padding: var(--xs);
  display: flex;
  flex-direction: column;
  gap: var(--max);

  &__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    block-size: 100dvb;
    gap: var(--max);
    padding: var(--lg);
  }

  &__item {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }

  &__close-button {
    cursor: pointer;
  }

  &__close-icon {
    color: var(--white);
    transition: color 0.3s ease-out;

    &:hover {
      color: var(--light-red);
    }
  }
}


.grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 40% 50%;
    filter: brightness(0.5);
  }

  &__button {
    position: absolute;
    inset: 0;
    margin: auto;
    margin-block-end: 1.5rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--sm);
    inline-size: 270px;
    padding: var(--sm);
    border: 1px solid var(--off-black);
    background-color: var(--light-green);
    font-size: 0.9rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: var(--light-blue);
    }


    &-icon {
      width: 20px;
      height: auto;
    }
  }
}


.wrapper {
  position: relative;
  inline-size: 100%;
  block-size: fit-content;
}


.prayer-table {
  position: absolute;
  inset: 0;
  inset-block-start: 3rem;
  margin: auto;
  height: 290px;
  z-index: 1;
  border-radius: var(--md);
  border: none;
}


.block {
  inline-size: 100%;
  padding: var(--max);
  display: flex;
  flex-direction: column;
  gap: var(--sm);

  &__heading {
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--black);
    line-height: 1;
  }

  &__description {
    font-size: 1rem;
    font-weight: 700;
    color: var(--black);

    &--arabic {
      font-family: var(--primary-arabic);
      font-size: 1.5rem;
      color: var(--off-black);
    }

    &--center {
      text-align: center;
    }
  }

  &__highlight {
    color: var(--dark-red);
  }

  &__list {
    list-style-type: square;
  }

  &__list-item {
    color: var(--black);
    font-weight: 600;
    font-size: 1rem;

    &::marker {
      color: var(--dark-green);
    }
  }

  &__reference {
    font-weight: 600;
    font-size: 0.75rem;
    color: var(--black);
  }

  &--center {
    align-items: center;
  }

  &--smaller {
    padding: var(--xl);
  }
}


.form {
  inline-size: 100%;
  block-size: max-content;
  padding: var(--md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--lg);

  &__select {
    background-color: transparent;
    border: 2px solid var(--off-black);
    border-radius: var(--sm);
    padding-block: var(--xxs);
    padding-inline: var(--sm);
    color: var(--black);
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;

    &:hover {
      color: var(--dark-green);
      background-color: var(--off-black);
    }
  }

  &__button {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid var(--off-black);
    padding-block: var(--xxs);
    padding-inline: var(--sm);
    color: var(--black);
    font-weight: 700;
    font-size: 1rem;
    height: 100%;
    cursor: pointer;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;

    &:hover {
      color: var(--dark-green);
      background-color: var(--off-black);
    }
  }
}


.footer {
  background-color: var(--off-black);
  padding: var(--xl);
  display: flex;
  flex-direction: column;
  gap: var(--md);

  &__description {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light-blue);
    text-align: center;
  }

  &__media {
    display: flex;
    align-items: center;
    gap: var(--xl);
  }

  &__span{
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--light-green);
  }

  &__icon {
    width: 35px;
    height: auto;
    color: var(--white);
    cursor: pointer;
    transition: color 0.3s ease-out;

    &:hover {
      color: var(--light-green);
    }
  }
}


.map {
  inline-size: 100%;
  margin-block-start: var(--md);
  block-size: auto;
  border: 2px solid var(--off-black);
  border-radius: var(--md);
}


.carousel {
  position: relative;

  &__img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
  }

  &__button {
    position: absolute;
    color: var(--black);
    background-color: var(--white);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    inset-block-start: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;

    &--previous {
      inset-inline-start: 0.5rem;
    }

    &--next {
      inset-inline-end: 0.5rem;
    }

    &:hover {
      background-color: var(--off-black);
      color: var(--white);
    }
  }

  &__previous-icon {
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
  }

  &__next-icon {
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
  }
}


.video {
  width: 100%;
  aspect-ratio: 1 / 1;
}