.header {
  position: fixed;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-black);
  padding: var(--xs);
  gap: var(--xs);
  z-index: 2;

  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease-out;

    &:hover {
      color: var(--dark-green);
    }
  }

  &__menu-icon {
    width: 45px;
    height: auto;
  }

  &__title {
    color: var(--white);
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-inline-end: auto;
  }

  &__logo {
    width: 50px;
    height: auto;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--md);

  &__img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 40% 50%;
    filter: brightness(0.5);
    display: block;
  }
}


.wrapper {
  position: relative;
  inline-size: 100%;
  block-size: fit-content;
}


.prayer-table {
  position: absolute;
  inset: 0;
  inset-block-start: 8rem;
  margin: auto;
  height: 290px;
  z-index: 1;
  border-radius: var(--md);
  border: none;
}


.map {
  inline-size: 80%;
  block-size: auto;
  border: none;
}

