@use 'fonts';
@use 'components';

:root {
  /* Colors */

  /* Dark Palette */
  --dark-green: #118b12;
  --dark-red: #8b114d;
  --dark-purple: #4f118b;

  /* Light Palette */
  --light-red: #e29ea1;
  --light-green: #9ee2bd;
  --light-blue: #9ec3e2;

  /* Neutral */
  --white: #ffffff;
  --black: #000000;
  --off-black: #1E1E1E;

  /* Typography */
  --primary-sans: 'Noto Sans', system-ui, sans-serif;

  /* Sizes */
  --xxs: 0.25rem;
  --xs: 0.5rem;
  --sm: 0.75rem;
  --md: 1rem;
  --lg: 1.25rem;
  --xl: 1.5rem;
  --xxl: 1.75rem;
  --max: 2rem;

  /* Other */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, a, abbr {
  all: unset;
}

html, body {
  inline-size: 100dvi;
  min-block-size: 100dvb; 
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--primary-sans);
}

body {
  background-color: var(--white);
}